body{
    background-color: rgb(144, 40, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
a{
    color: whitesmoke;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
iframe{
    border-style: solid;
    border-color: black;
}
